/* Magic Mirror Config Sample
 *
 * By Michael Teeuw http://michaelteeuw.nl
 * MIT Licensed.
 */

var OPEN_WEATHER_APP_ID = '3dc9d16750474387b0a3ddd96d55b15c';
var COMPLIMENTS = {
	morning: [
		"Good morning!",
		"Enjoy your day!",
		"How was your sleep?"
	],
	afternoon: [
		"Good afternoon!",
		"Looking sharp today!"
	],
	evening: [
		"Long day?",
		"Brush your teeth!",
		"Is it bed time yet?",
	]
}

var config = {
	port: 8080,

	language: 'en',
	timeFormat: 24,
	units: 'metric',

	modules: [
		{
			module: 'alert',
		},
		{
			module: 'clock',
			position: 'top_left'
		},
		{
			module: 'calendar',
			header: 'US Holidays',
			position: 'top_left',
			config: {
				calendars: [
					{
						symbol: 'calendar-check-o ',
						url: 'webcal://www.calendarlabs.com/templates/ical/US-Holidays.ics'
					}
				]
			}
		},
		{
			module: 'compliments',
			position: 'lower_third',
			config: { compliments: COMPLIMENTS, }
		},
		{
			module: 'currentweather',
			position: 'top_right',
			config: {
				location: 'Houston',
				locationID: '',  //ID from bulk.openweather.org/sample/
				appid: OPEN_WEATHER_APP_ID
			}
		},
		{
			module: 'weatherforecast',
			position: 'top_right',
			header: 'Weather Forecast',
			config: {
							location: 'Houston',
							locationID: '5128581',  //ID from bulk.openweather.org/sample/
							appid: OPEN_WEATHER_APP_ID
			}
		},
		{
			module: 'tweet_feed',
			position: 'bottom_left',
			config: {
				keys: {
					consumer_key: 'rBP036W94oFvjbpLJtezrW7lO',
					consumer_secret: 'LFyVKb8fRzpbPYu77oRpn8CStVVR7GLbTour9ZcBlrICajS4qS',
					access_token_key: '314071089-Uc8yZcrUitW2aT0dOPLPBGOiplZbPgAJ3JvNQLqK',
					access_token_secret: 'MX1rLfMZwfjk73XnDdkFsNuoI3K6JfIAXBomQf6ijTOcq'
				}
			}
		},
		{
			module: 'MMM-wordnik',
			position: 'bottom_right',
			config: {
				api_key: '77aa061be1b9573118507993c5a055761c9d0d3e885ccd419'
			}
		},
    {
      module: 'MMM-Wunderlist',
      position: 'top_right',  // This can be any of the regions. Best results in left or right regions.
      header: 'Wunderlist', // This is optional
      config: {
        accessToken: "82425b6d9b31d5f48ec8a09626fc9d3f1ecdc83ed0c8d1a118f22a659001",
        clientID: "ec400e34d1c9b5d9f1a4",
        lists: ["inbox","Groceries"]
      }
    }
	]

};
/*************** DO NOT EDIT THE LINE BELOW ***************/
if (typeof module !== 'undefined') {module.exports = config;}
